workflows/updating/ChatwootExtra.json
{
  "createdAt": "2025-02-06T01:23:53.253Z",
  "updatedAt": "2025-02-06T01:27:45.851Z",
  "id": "02pjPUL2ejmfVDHQ",
  "name": "ChatwootExtra",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -80
      ],
      "id": "44d58c39-7ef4-48cb-a63f-e380b251915a",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "content": "## (1.0.4) Updates\n* default envrionment variables\n",
        "height": 139.75900985723197,
        "width": 505.65878958512553
      },
      "id": "f68d8f04-ccf1-44ae-bb72-3f6060137046",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -700,
        -260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.extra.account }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "083b0fd9-d8f8-49d0-b0b4-298e1b25822f",
      "name": "If Missing Account",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -40,
        -60
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT account_id FROM inboxes WHERE id = '{{ $json.extra.inbox }}'",
        "additionalFields": {}
      },
      "id": "6900bb5f-d856-46f7-99d3-f4cbecbcefce",
      "name": "Get Account From Inbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        160,
        -180
      ],
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "extra.account",
              "value": "={{ $json.account_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "deb67789-f4bb-43cd-8212-2d40f7c7af67",
      "name": "Set Account",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        320,
        -180
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.atoken",
              "value": "={{ $json.atoken }}"
            }
          ],
          "number": [
            {
              "name": "extra.aid",
              "value": "={{ $json.aid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a3a81104-7f1a-461a-94f5-990b8e458205",
      "name": "Set AToken",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1260,
        -140
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "16079a40-22d9-4a13-87bf-0effac147bc7",
      "name": "Merge Extra AToken",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1460,
        -60
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "8d1fc585-619b-4269-8f73-43e1affd2a2c",
      "name": "Merge Extra Account",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        500,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"access_tokens\" (\"owner_type\", \"owner_id\", \"token\", \"created_at\", \"updated_at\")\nSELECT 'AgentBot', '{{ $json.id }}', SUBSTRING(md5(random()::text),0,24), NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }});\nSELECT \"token\" AS \"atoken\", \"owner_id\" AS \"aid\" FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }} LIMIT 1;",
        "additionalFields": {}
      },
      "id": "bb1b1ebb-ea39-4a64-a189-569397b802f7",
      "name": "GetOrCreate Agent Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1080,
        -140
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"agent_bot_inboxes\" (\"inbox_id\", \"agent_bot_id\", \"status\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT {{ $json.extra.inbox }}, {{ $json.extra.aid }}, 0, {{ $json.extra.account }}, NOW(), NOW() WHERE NOT EXISTS(SELECT NULL FROM \"agent_bot_inboxes\" WHERE \"inbox_id\" = {{ $json.extra.inbox }} AND \"agent_bot_id\" = {{ $json.extra.aid }} AND \"account_id\" = {{ $json.extra.account }});",
        "additionalFields": {}
      },
      "id": "03072757-6184-48bb-9fff-6a63921f1397",
      "name": "Ensure Rights For AgentBot At Account",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1660,
        -160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"access_tokens\".\"token\" AS \"utoken\" FROM \"account_users\" INNER JOIN \"access_tokens\" ON \"access_tokens\".\"owner_id\" = \"account_users\".\"user_id\" WHERE \"account_users\".\"account_id\" = {{ $json.extra.account }} AND \"access_tokens\".\"owner_type\" = 'User' AND \"account_users\".\"role\" = 1 ORDER BY \"account_users\".\"id\" LIMIT 1;",
        "additionalFields": {}
      },
      "id": "52a0e97c-fd5d-4e8b-8990-bf001f47fc93",
      "name": "Get Admin User Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2080,
        -160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.utoken",
              "value": "={{ $json.utoken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c033b15f-c16c-4e2b-8911-d875d8ab5b65",
      "name": "Set UToken",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        2260,
        -160
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "d83696c4-8d49-4365-859a-989a21624b60",
      "name": "Merge Extra UToken",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2440,
        -100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{$json.extra.account}}' AND \"public\".\"inboxes\".\"id\" = '{{$json.extra.inbox}}';",
        "additionalFields": {}
      },
      "id": "9f6efa38-d3d7-4599-8b7d-9bb322f7a844",
      "name": "Get Identifier",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2820,
        -120
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "6366aa35-f1b2-4f7a-84d0-28f0838e0427",
      "name": "Merge Extra Identifier",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3200,
        -60
      ]
    },
    {
      "parameters": {},
      "id": "3c9bb9ac-680d-4b17-9d73-977cd22f7420",
      "name": "Account & Inbox",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        -40
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "extra.inbox",
              "value": "={{ $json.body.inbox_id }}"
            },
            {
              "name": "extra.account",
              "value": "={{ $json.body.messages[0].account_id }}"
            }
          ],
          "string": [
            {
              "name": "extra.cwpublic",
              "value": "={{ $env[\"C8Q_CW_HOST\"] }}"
            },
            {
              "name": "extra.qphost",
              "value": "={{ $env[\"C8Q_QUEPASA_HOST\"] }}"
            },
            {
              "name": "extra.cwhost",
              "value": "={{ $env[\"C8Q_CW_HOST\"] }}"
            },
            {
              "name": "extra.n8nhost",
              "value": "={{ $env[\"C8Q_N8N_WEBHOOK\"] }}"
            },
            {
              "name": "extra.qpuser",
              "value": "={{ $env[\"C8Q_QP_DEFAULT_USER\"] ?? \"default@quepasa.io\" }}"
            },
            {
              "name": "event",
              "value": "={{ $json.event }}"
            },
            {
              "name": "extra.utoken",
              "value": "={{ $env['C8Q_SUPERUSER_TOKEN'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fb5b667f-9134-4bff-950d-5de450a85f87",
      "name": "Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -480,
        -80
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.identifier",
              "value": "={{ $json.identifier }}"
            }
          ],
          "number": [
            {
              "name": "extra.channel",
              "value": "={{ $json.channel_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9f43fb2b-57fa-46e2-a127-adaed134c441",
      "name": "Set Identifier & Channel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3000,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "58f981c1-0ab5-4a8b-a1ca-8e9e5db64ace",
              "leftValue": "={{ $json.event }}",
              "rightValue": "api_inbox_delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "ab8c0566-6c02-4eda-8ff5-66c47b783a60",
      "name": "From Inbox Delete ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -280,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"agent_bots\" (\"name\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"Whatsapp Sync - Quepasa\" }}', NULL, NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = 0 AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"Whatsapp Sync - Quepasa\" }}' AND \"account_id\" IS NULL);\nSELECT \"id\" FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = 0 AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"Whatsapp Sync - Quepasa\" }}' AND \"account_id\" IS NULL LIMIT 1;",
        "options": {}
      },
      "id": "46e0e3ec-3cd4-4c38-acfc-c499e0817443",
      "name": "GetOrCreate Global AgentBot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        900,
        -140
      ],
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d05483a-173e-4218-84fe-f3eec4dbf39c",
              "leftValue": "={{ $json.extra.utoken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8422c645-99de-45a2-a965-e1cd6ea86b35",
      "name": "If Missing (utoken)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1880,
        -60
      ]
    },
    {
      "parameters": {},
      "id": "4f073290-c958-4059-9012-d339e6e36540",
      "name": "Identifier",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2620,
        -40
      ]
    }
  ],
  "connections": {
    "If Missing Account": {
      "main": [
        [
          {
            "node": "Get Account From Inbox",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra Account",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Account & Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account From Inbox": {
      "main": [
        [
          {
            "node": "Set Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Account": {
      "main": [
        [
          {
            "node": "Merge Extra Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set AToken": {
      "main": [
        [
          {
            "node": "Merge Extra AToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra AToken": {
      "main": [
        [
          {
            "node": "Ensure Rights For AgentBot At Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Missing (utoken)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra Account": {
      "main": [
        [
          {
            "node": "Account & Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrCreate Agent Token": {
      "main": [
        [
          {
            "node": "Set AToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Admin User Token": {
      "main": [
        [
          {
            "node": "Set UToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set UToken": {
      "main": [
        [
          {
            "node": "Merge Extra UToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra UToken": {
      "main": [
        [
          {
            "node": "Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Identifier": {
      "main": [
        [
          {
            "node": "Set Identifier & Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account & Inbox": {
      "main": [
        [
          {
            "node": "Merge Extra AToken",
            "type": "main",
            "index": 1
          },
          {
            "node": "GetOrCreate Global AgentBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Defaults": {
      "main": [
        [
          {
            "node": "From Inbox Delete ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Identifier & Channel": {
      "main": [
        [
          {
            "node": "Merge Extra Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Inbox Delete ?": {
      "main": [
        [],
        [
          {
            "node": "If Missing Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrCreate Global AgentBot": {
      "main": [
        [
          {
            "node": "GetOrCreate Agent Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Missing (utoken)": {
      "main": [
        [
          {
            "node": "Get Admin User Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra UToken",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identifier": {
      "main": [
        [
          {
            "node": "Get Identifier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra Identifier",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "06d0c15c-3917-43d7-a6df-e0387a23c08c",
  "triggerCount": 0,
  "tags": [],
  "versao-qp": "updating"
}