workflows/3.25.116.1650/QuepasaQrcode.json
{
  "createdAt": "2024-11-09T01:03:21.122Z",
  "updatedAt": "2024-11-29T23:31:38.506Z",
  "id": "1010",
  "name": "QuepasaQrcode",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {
          "bodyContentType": "multipart-form-data"
        },
        "sendBinaryData": true,
        "binaryPropertyName": "attachments[]:data",
        "headerParametersJson": "={ \"api_access_token\": \"{{ $json.extra.utoken }}\" }",
        "queryParametersJson": "{ \"message_type\": \"incoming\" }"
      },
      "name": "Envia QRCode No Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        4726.803252711625,
        1130.0977571675526
      ],
      "id": "14b65d1c-7757-4e82-ba13-91b25b5b2d95"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      },
      "id": "193a86df-f368-4f88-a425-4259aceacf80",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7726.803252711625,
        1270.0977571675526
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$json.extra.utoken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✅ Qrcode gerado com sucesso!\n\n✅ Digitalize este código QR nos próximos 20 segundos:"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "397ae8f5-b7c1-4225-a943-1607dbdbf210",
      "name": "Qrcode gerado com sucesso!",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        5126.803252711625,
        1170.0977571675526
      ]
    },
    {
      "parameters": {
        "baseUrl": "={{ $json.extra.qphost}}",
        "token": "={{$json.extra.identifier}}",
        "resource": "webhook",
        "operation": "setup",
        "url": "={{$json.extra.n8nhost}}/webhook/to-chatwoot",
        "trackid": "chatwoot",
        "extraAttributes": {
          "attribute": [
            {
              "key": "identifier",
              "value": "={{$json.extra.identifier}}"
            },
            {
              "key": "cwhost",
              "value": "={{$json.extra.cwhost}}"
            },
            {
              "key": "inbox",
              "value": "={{$json.extra.inbox}}"
            },
            {
              "key": "account",
              "value": "={{$json.extra.account}}"
            },
            {
              "key": "utoken",
              "value": "={{$json.extra.utoken}}"
            },
            {
              "key": "atoken",
              "value": "={{$json.extra.atoken}}"
            },
            {
              "key": "qphost",
              "value": "={{$json.extra.qphost}}"
            }
          ]
        }
      },
      "id": "c5945be9-56ac-4f3c-bf90-c99fd91a96db",
      "name": "Webhook Update",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        7546.803252711625,
        1270.0977571675526
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            },
            {
              "value1": "={{ $json.server.verified }}",
              "value2": true
            }
          ]
        }
      },
      "id": "7b73fa61-e012-46c9-865a-d4b60b687a0c",
      "name": "Success QrCode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        6106.803252711625,
        1190.0977571675526
      ]
    },
    {
      "parameters": {
        "content": "##  QrCode Challenging\n",
        "height": 452.28384346711937,
        "width": 1583.889895748937
      },
      "id": "518a07ef-25ef-44d9-81cc-781707ad4964",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3880,
        940
      ]
    },
    {
      "parameters": {
        "content": "## Follow",
        "height": 634.3499448215342,
        "width": 1617.8746514622399
      },
      "id": "90bf3381-b7a1-45ab-803f-08b0aa0f8c9a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5646.803252711625,
        960.5490840759887
      ]
    },
    {
      "parameters": {
        "content": "## (1.0.3) Updates\n* chatwoot host issue on webhook update",
        "height": 203.09211018757583,
        "width": 641.796471588546
      },
      "id": "7adc3494-f669-4048-838b-5cc6a9150e0b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3106.8032527116247,
        950.0977571675526
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.extra.qphost }}/scan",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{ $json.extra.identifier }}"
            },
            {
              "name": "X-QUEPASA-USER",
              "value": "={{ $json.extra.qpuser }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fa7f0bf5-4b8c-43c1-a978-4f1d1949bd66",
      "name": "QrCode Gerenerator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        4146.803252711625,
        1150.0977571675526
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "aa5755fb-4726-4958-8f36-ac138a24e766",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4546.803252711625,
        1130.0977571675526
      ]
    },
    {
      "parameters": {},
      "id": "3ac6b78e-10ba-429d-b768-2fec6632f712",
      "name": "No Operation, do nothing1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4346.803252711625,
        1050.0977571675526
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "conversation",
              "value": "={{$json.body.id ?? json.body.messages[0].conversation_id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "65ea0d7c-753a-4482-be17-f25475097cba",
      "name": "Set Conversation Id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3360,
        1180
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "32410d9c-fec2-450e-b62f-9109dbd21c58",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3566.8032527116247,
        1290.0977571675526
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "92b798f5-f175-4c5f-830a-c32d28527825",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4926.803252711625,
        1070.0977571675526
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "98fbf633-0dd1-417b-857e-aef6eda0dfc5",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        5326.803252711625,
        1090.0977571675526
      ]
    },
    {
      "parameters": {
        "amount": 20,
        "unit": "seconds"
      },
      "id": "78b278f4-9247-4236-b814-34cee40ac7a2",
      "name": "Waiting For Scanner",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        5506.803252711625,
        1090.0977571675526
      ],
      "webhookId": "b8706931-81cb-4f18-93e0-0a5d5416734b"
    },
    {
      "parameters": {
        "baseUrl": "={{$json.extra.qphost}}",
        "token": "={{$json.extra.identifier }}",
        "resource": "information"
      },
      "id": "7893b3e0-d490-4935-ab78-e61eb2aaa991",
      "name": "Retrieving Info",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        5926.803252711625,
        1190.0977571675526
      ],
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "c8b5fc69-fbc0-4c4a-a824-64caefef4013",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5726.803252711625,
        1090.0977571675526
      ]
    },
    {
      "parameters": {},
      "id": "594130d8-c300-4fab-bdf1-10f05ca46dfb",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        6486.803252711625,
        1090.0977571675526
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "6b580132-c41c-43d4-8f3d-b2ab7fbf0004",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        6306.803252711625,
        1330.0977571675526
      ]
    },
    {
      "parameters": {},
      "id": "d1174c0d-b4fb-435a-8542-c5cd17b18db1",
      "name": "No Operation, do nothing3",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5726.803252711625,
        1350.0977571675526
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$json.extra.utoken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Tempo para escanear expirou !\nTente novamente digitando /qrcode"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "634b7290-537e-4cbd-a44f-5eba6163573f",
      "name": "Fail Scanner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6486.803252711625,
        1330.0977571675526
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "wid",
              "value": "={{$json.server.wid}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e8293e8d-6b38-49ae-9757-ddc91e5d486f",
      "name": "Set Whatsapp Id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        6306.803252711625,
        1170.0977571675526
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "7442eb82-fad6-4645-9c27-65049fa6186d",
      "name": "Merge5",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        6686.803252711625,
        1150.0977571675526
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$json.extra.utoken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Informações do servidor:\nToken gerado: {{$json.extra.identifier}}\nWhatsapp: {{$json.wid}}\n\n\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "d00a9c3c-c418-4a75-841f-cdbb993638e7",
      "name": "Confirming Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        6886.803252711625,
        1250.0977571675526
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "987ada5b-6b14-4dd4-8668-f68985bbc1a1",
      "name": "Merge6",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        7086.803252711625,
        1170.0977571675526
      ]
    },
    {
      "parameters": {},
      "id": "341f2349-e23f-415d-8793-b11037ff7fdb",
      "name": "No Operation, do nothing5",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3946.8032527116247,
        1050.0977571675526
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE \"public\".\"channel_api\" SET \"webhook_url\"='{{$json.webhook}}' WHERE \"id\"='{{$json.extra.channel}}';",
        "additionalFields": {}
      },
      "id": "036e081a-7990-4f4a-8893-3991263aca49",
      "name": "Database Webhook Update",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        4140,
        1540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "HsCApB9t5UDljO9u",
          "name": "DB-Chatwoot"
        }
      }
    },
    {
      "parameters": {},
      "id": "bcc4bbfb-9ff6-4922-8074-eed562b7f7e5",
      "name": "No Operation, do nothing4",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7346.803252711625,
        1170.0977571675526
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "fc41f8ad-dd88-42fb-81ee-a2703cada067",
      "name": "Merge7",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        7926.803252711625,
        1190.0977571675526
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.extra.qphost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$json.extra.utoken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=Problema ao atualizar o webhook\n\n*{{$json.message}}\n"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "14b142c2-27ae-4347-8a6c-fa07f9e16a65",
      "name": "Fail On Updating Quepasa Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8106.803252711625,
        1410.0977571675526
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const extra = $input.item.json.extra;\n\nlet webhook = extra.n8nhost + \"/webhook/from-chatwoot?\";\nwebhook += \"identifier=\" + extra.identifier + \"&\";\nwebhook += \"utoken=\" + extra.utoken + \"&\";\nwebhook += \"atoken=\" + extra.atoken + \"&\";\n\n//if (extra.qphost !== \"http://127.0.0.1:31000\"){\n//  webhook += \"qphost=\" + extra.qphost + \"&\";\n//}\n\n//if (extra.cwhost !== \"http://127.0.0.1:3000\"){\n//  webhook += \"cwhost=\" + extra.cwhost + \"&\";\n//}\n\n//if (extra.cwpublic){\n//  webhook += \"cwpublic=\" + extra.cwpublic + \"&\";\n//}\n\nwebhook = webhook.replace(/\\&+$/, '');\n\n$input.item.json.webhook = webhook;\nreturn $input.item;"
      },
      "id": "798b318d-984d-4653-aa6a-8982ececeb54",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3940,
        1540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.extra.cwhost}}/api/v1/accounts/{{$json.extra.account}}/conversations/{{$json.conversation}}/messages ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "={{$json.extra.utoken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=✅ Qrcode escaneado com sucesso!\n✅ Sistema Pronto para Usar"
            },
            {
              "name": "message_type",
              "value": "incoming"
            },
            {
              "name": "private",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "fe113fe9-d3f2-42b1-a56b-4d4d16214bca",
      "name": "All Ready",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        8106.803252711625,
        1190.0977571675526
      ]
    },
    {
      "parameters": {},
      "id": "eb4f2315-b2d7-408b-90d9-7d12d76b3575",
      "name": "No Operation, do nothing6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        7346.803252711625,
        1430.0977571675526
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "input2"
      },
      "id": "3cb92a11-ab1f-481e-8a74-f3e454540ffa",
      "name": "Merge8",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        7926.803252711625,
        1410.0977571675526
      ]
    },
    {
      "parameters": {
        "workflowId": "={{ $env['C8Q_CHATWOOTEXTRA'] ?? \"iiEsUj7ybtzEZAFj\" }}",
        "options": {}
      },
      "id": "a6d0d9d0-8f91-4578-a87e-799b88bb91f9",
      "name": "Execute ChatWootExtra Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3366.8032527116247,
        1390.0977571675526
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quepasa",
        "options": {}
      },
      "id": "30001fbf-8c03-4fb0-8352-083a69cf1667",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        3160,
        1280
      ],
      "webhookId": "e8d38d79-8f79-4bd1-85f8-fce3d8200233"
    }
  ],
  "connections": {
    "Envia QRCode No Chatwoot": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qrcode gerado com sucesso!": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook Update": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success QrCode": {
      "main": [
        [
          {
            "node": "Set Whatsapp Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "QrCode Gerenerator": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Envia QRCode No Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Conversation Id": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Qrcode gerado com sucesso!",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Waiting For Scanner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Waiting For Scanner": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieving Info": {
      "main": [
        [
          {
            "node": "Success QrCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Retrieving Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Fail Scanner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set Whatsapp Id": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Confirming Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirming Results": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          },
          {
            "node": "QrCode Gerenerator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing4": {
      "main": [
        [
          {
            "node": "Webhook Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "All Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Database Webhook Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing6": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Fail On Updating Quepasa Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute ChatWootExtra Workflow": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Conversation Id",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute ChatWootExtra Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 60,
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b4ab318d4f8eba20155e50db9998481bc305e3588e42ee69176091736c9d07e"
  },
  "pinData": {},
  "versionId": "2b95aace-7957-43b1-b570-5dac3c3a1dee",
  "triggerCount": 1,
  "tags": [],
  "versao-qp": "3.25.116.1650"
}