workflows/3.24.1107.1143/MsgRejectCall.json
{
  "createdAt": "2024-11-20T00:56:08.459Z",
  "updatedAt": "2024-11-20T03:16:57.203Z",
  "id": "GIPTrjgdT9vuOSlN",
  "name": "MsgRejectCall",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "baseUrl": "={{ $json.extra.qphost }}",
        "token": "={{ $json.extra.identifier }}",
        "resource": "information"
      },
      "id": "8da294e1-18ef-418a-aa8f-868824e137e8",
      "name": "Get Info",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        880,
        440
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "conversation",
              "value": "={{$json.body.conversation}}"
            },
            {
              "name": "extra",
              "value": "={{$json.body.extra}}"
            },
            {
              "name": "chat",
              "value": "={{ $json.body.chat }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Chatwoot Message Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        660,
        440
      ],
      "id": "3aeabd91-bbe8-4bb9-9a84-637d27f9fc0d"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reject-call",
        "options": {}
      },
      "id": "61147ec8-bfd3-4d2e-a36e-5b8a60f1e6eb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        380,
        440
      ],
      "webhookId": "ba328413-09d5-4941-af25-bd9a7c8dd7d6"
    },
    {
      "parameters": {
        "baseUrl": "={{ $('Chatwoot Message Payload').item.json.extra.qphost }}",
        "token": "={{ $('Webhook').item.json.body.extra.identifier ?? $('Get Info').item.json.server.webhooks[0].extra.identifier }}",
        "method": "sendtext",
        "text": "={{ $env['C8Q_MSGFOR_REJECT_CALL'] ?? 'Não aceitamos ligação.' }}",
        "chatid": "={{ $('Chatwoot Message Payload').item.json.chat.id }}",
        "inreply": "="
      },
      "id": "7134b808-67c3-495d-a5e0-a49f6934d2f9",
      "name": "Send-Msg",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        1340,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0dd65134-4d17-43f5-aa91-a74d7a4191ce",
              "leftValue": "={{ $json.server.calls }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fab6414e-f985-4b1e-9830-f4b5e089c817",
      "name": "Call-False?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1100,
        440
      ]
    }
  ],
  "connections": {
    "Chatwoot Message Payload": {
      "main": [
        [
          {
            "node": "Get Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Info": {
      "main": [
        [
          {
            "node": "Call-False?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Chatwoot Message Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call-False?": {
      "main": [
        [
          {
            "node": "Send-Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.developermaster.com.br",
            "user-agent": "axios/1.7.4",
            "content-length": "363",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.developermaster.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d23d0d1d0da6",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "extra": {
              "qphost": "https://apiqp2.developermaster.com.br",
              "identifier": "c45BgZyXwERQ8LwGUqfE6jxA",
              "account": 1,
              "atoken": "6a6b3d80818cc9eb9ba914b",
              "utoken": "Wx832mMujwGsPXcKEhbCpf3n",
              "cwhots": "https://app.developermaster.com.br"
            },
            "chat": {
              "title": "Deivid Martins",
              "id": "556193743824@s.whatsapp.net",
              "phone": "+556193743824"
            },
            "conversation": {
              "id": 34,
              "status": "open"
            }
          },
          "webhookUrl": "https://webhook.developermaster.com.br/webhook/call",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "5f5d5c51-31f2-4a8f-8ca2-2bc3cfb72d80",
  "triggerCount": 1,
  "tags": []
}