workflows/3.24.617.1651/ChatwootExtra.json
{
  "createdAt": "2024-04-24T01:25:11.568Z",
  "updatedAt": "2024-05-28T00:27:21.859Z",
  "id": "iiEsUj7ybtzEZAFj",
  "name": "ChatwootExtra",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "content": "## (1.0.1) Updates\n* including calls from inbox delete event\n",
        "height": 160.8587546061882,
        "width": 505.65878958512553
      },
      "id": "6fe14679-04d6-42ae-b5b1-60b9b0ae5c41",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3000,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.extra.account }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "5eb0e1b5-dbbf-454c-a5a1-cccbb5d0704d",
      "name": "If Missing Account",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3660,
        560
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT account_id FROM inboxes WHERE id = '{{ $json.extra.inbox }}'",
        "additionalFields": {}
      },
      "id": "15838faf-b675-42c9-a02e-3a480ccf3f56",
      "name": "Get Account From Inbox",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        3860,
        440
      ],
      "credentials": {
        "postgres": {
          "id": "NSSYN4EOlkv5kmYY",
          "name": "DB_CHATWOOT"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "extra.account",
              "value": "={{ $json.account_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5f6cc13f-9843-4f5c-9648-c42dd5020475",
      "name": "Set Account",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4020,
        440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"agent_bots\" (\"name\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"quepasabot\" }}', {{ $json.extra.account }}, NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = '0' AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"quepasabot\" }}' AND \"account_id\" = {{ $json.extra.account }});\nSELECT \"id\" FROM \"public\".\"agent_bots\" WHERE \"bot_type\" = '0' AND \"name\" LIKE '{{ $env[\"C8Q_QP_BOTTITLE\"] ?? \"quepasabot\" }}' AND \"account_id\" = {{ $json.extra.account }} LIMIT 1;",
        "additionalFields": {}
      },
      "id": "f2b20af4-bd8f-4258-a377-d7cb724aaccd",
      "name": "GetOrCreate AgentBot",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        4600,
        480
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "NSSYN4EOlkv5kmYY",
          "name": "DB_CHATWOOT"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.atoken",
              "value": "={{ $json.atoken }}"
            }
          ],
          "number": [
            {
              "name": "extra.aid",
              "value": "={{ $json.aid }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fc2652a7-d226-46d5-b932-e3c9359dc8f6",
      "name": "Set AToken",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        4960,
        480
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "835c06c1-f145-4a15-9d88-913ff2a5bc1c",
      "name": "Merge Extra AToken",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        5160,
        560
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "2b96e146-b081-49cc-81b8-b64a3fe4ea90",
      "name": "Merge Extra Account",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4200,
        520
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"public\".\"access_tokens\" (\"owner_type\", \"owner_id\", \"token\", \"created_at\", \"updated_at\")\nSELECT 'AgentBot', '{{ $json.id }}', SUBSTRING(md5(random()::text),0,24), NOW(), NOW() \nWHERE NOT EXISTS (SELECT NULL FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }});\nSELECT \"token\" AS \"atoken\", \"owner_id\" AS \"aid\" FROM \"public\".\"access_tokens\" WHERE \"owner_type\" = 'AgentBot' AND \"owner_id\" = {{ $json.id }} LIMIT 1;",
        "additionalFields": {}
      },
      "id": "c2a2e4af-b9a8-4eaa-a0d1-2c65cdc66482",
      "name": "GetOrCreate Agent Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        4780,
        480
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "NSSYN4EOlkv5kmYY",
          "name": "DB_CHATWOOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO \"agent_bot_inboxes\" (\"inbox_id\", \"agent_bot_id\", \"status\", \"account_id\", \"created_at\", \"updated_at\")\nSELECT {{ $json.extra.inbox }}, {{ $json.extra.aid }}, 0, {{ $json.extra.account }}, NOW(), NOW() WHERE NOT EXISTS(SELECT NULL FROM \"agent_bot_inboxes\" WHERE \"inbox_id\" = {{ $json.extra.inbox }} AND \"agent_bot_id\" = {{ $json.extra.aid }} AND \"account_id\" = {{ $json.extra.account }});",
        "additionalFields": {}
      },
      "id": "de21b606-594d-4324-9846-150dae1bf836",
      "name": "Ensure Rights For AgentBot At Account",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        5360,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "NSSYN4EOlkv5kmYY",
          "name": "DB_CHATWOOT"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"access_tokens\".\"token\" AS \"utoken\" FROM \"account_users\" INNER JOIN \"access_tokens\" ON \"access_tokens\".\"owner_id\" = \"account_users\".\"user_id\" WHERE \"account_users\".\"account_id\" = {{ $json.extra.account }} AND \"access_tokens\".\"owner_type\" = 'User' AND \"account_users\".\"role\" = 1 ORDER BY \"account_users\".\"id\" LIMIT 1;",
        "additionalFields": {}
      },
      "id": "359d201c-7982-4d8a-b5b6-6d81018ace45",
      "name": "Get Admin User Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        5760,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "NSSYN4EOlkv5kmYY",
          "name": "DB_CHATWOOT"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.utoken",
              "value": "={{ $json.utoken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b447b2a6-b556-4f0f-a701-57c6dc0f7fee",
      "name": "Set UToken",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        5940,
        460
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "ad5a872d-db77-45e1-85d4-9c20244f2537",
      "name": "Merge Extra UToken",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        6140,
        540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"public\".\"channel_api\".\"identifier\", \"public\".\"inboxes\".\"channel_id\" FROM \"public\".\"channel_api\" INNER JOIN \"public\".\"inboxes\" ON \"public\".\"channel_api\".\"id\" = \"public\".\"inboxes\".\"channel_id\" WHERE \"public\".\"channel_api\".\"account_id\"='{{$json.extra.account}}' AND \"public\".\"inboxes\".\"id\" = '{{$json.extra.inbox}}';",
        "additionalFields": {}
      },
      "id": "5acb27f3-9f5a-4213-9d5e-7bd006b3316f",
      "name": "Get Identifier",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        6340,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "NSSYN4EOlkv5kmYY",
          "name": "DB_CHATWOOT"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "a006da12-70a3-4555-a139-597a553f5288",
      "name": "Merge Extra Identifier",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        6720,
        520
      ]
    },
    {
      "parameters": {},
      "id": "a47eb699-e473-42a1-9fdb-6c1ba9751012",
      "name": "Account & Inbox",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4400,
        580
      ]
    },
    {
      "parameters": {},
      "id": "25156e3d-0e40-416b-8c7f-43e7b527f30d",
      "name": "AToken",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        5560,
        560
      ]
    },
    {
      "parameters": {},
      "id": "b504aee7-6b63-45cf-87f3-88d2f4a308c0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        3020,
        540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "extra.inbox",
              "value": "={{ $json.body.inbox_id }}"
            },
            {
              "name": "extra.account",
              "value": "={{ $json.body.messages[0].account_id }}"
            }
          ],
          "string": [
            {
              "name": "extra.cwpublic",
              "value": "={{ $env[\"C8Q_CW_PUBLIC_URL\"] }}"
            },
            {
              "name": "extra.qphost",
              "value": "={{ $env[\"C8Q_QUEPASA_HOST\"] }}"
            },
            {
              "name": "extra.cwhost",
              "value": "={{ $env[\"C8Q_CW_HOST\"] }}"
            },
            {
              "name": "extra.n8nhost",
              "value": "={{ $env[\"C8Q_N8N_HOST\"] }}"
            },
            {
              "name": "extra.qpuser",
              "value": "={{ $env[\"C8Q_QP_DEFAULT_USER\"] ?? \"default@quepasa.io\" }}"
            },
            {
              "name": "event",
              "value": "={{ $json.event }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1e9663e9-431a-42d8-8a89-167c2e205c6d",
      "name": "Defaults",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        3220,
        540
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "extra.identifier",
              "value": "={{ $json.identifier }}"
            }
          ],
          "number": [
            {
              "name": "extra.channel",
              "value": "={{ $json.channel_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c1e17f1-6efb-4471-8cd8-48372b15aee2",
      "name": "Set Identifier & Channel",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        6520,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "58f981c1-0ab5-4a8b-a1ca-8e9e5db64ace",
              "leftValue": "={{ $json.event }}",
              "rightValue": "api_inbox_delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "3cea66a9-7e74-4f42-af67-a380ad5060e8",
      "name": "From Inbox Delete ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3420,
        540
      ]
    }
  ],
  "connections": {
    "If Missing Account": {
      "main": [
        [
          {
            "node": "Get Account From Inbox",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra Account",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Account & Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Account From Inbox": {
      "main": [
        [
          {
            "node": "Set Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Account": {
      "main": [
        [
          {
            "node": "Merge Extra Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrCreate AgentBot": {
      "main": [
        [
          {
            "node": "GetOrCreate Agent Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set AToken": {
      "main": [
        [
          {
            "node": "Merge Extra AToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra Account": {
      "main": [
        [
          {
            "node": "Account & Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra AToken": {
      "main": [
        [
          {
            "node": "Ensure Rights For AgentBot At Account",
            "type": "main",
            "index": 0
          },
          {
            "node": "AToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrCreate Agent Token": {
      "main": [
        [
          {
            "node": "Set AToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Admin User Token": {
      "main": [
        [
          {
            "node": "Set UToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set UToken": {
      "main": [
        [
          {
            "node": "Merge Extra UToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Extra UToken": {
      "main": [
        [
          {
            "node": "Get Identifier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra Identifier",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Identifier": {
      "main": [
        [
          {
            "node": "Set Identifier & Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account & Inbox": {
      "main": [
        [
          {
            "node": "GetOrCreate AgentBot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra AToken",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AToken": {
      "main": [
        [
          {
            "node": "Get Admin User Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Extra UToken",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Defaults",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Defaults": {
      "main": [
        [
          {
            "node": "From Inbox Delete ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Identifier & Channel": {
      "main": [
        [
          {
            "node": "Merge Extra Identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "From Inbox Delete ?": {
      "main": [
        [],
        [
          {
            "node": "If Missing Account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 60
  },
  "staticData": null,
  "meta": {
    "instanceId": "2b4ab318d4f8eba20155e50db9998481bc305e3588e42ee69176091736c9d07e",
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "de84bcd8-4254-4b52-b3ca-01316e87a381",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-05-24T01:34:15.401Z",
      "updatedAt": "2024-05-24T01:34:15.401Z",
      "id": "PHDp1yoMiVikbrb2",
      "name": "chatwoot"
    }
  ],
  "NOME": "ChatwootExtra",
  "PASTA": "3.24.617.1651"
}