workflows/latest/Backup_Workflow_GitHub.json
{
  "createdAt": "2024-11-09T02:07:17.952Z",
  "updatedAt": "2024-11-28T00:58:56.596Z",
  "id": "NeKYzt22PfcSrjKN",
  "name": "Backup_Workflow_GitHub",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "550bec69-7dd3-4b24-9b25-3ee7cbabe20e",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        12980,
        -60
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "versao-qp",
              "stringValue": "latest"
            }
          ]
        },
        "options": {}
      },
      "id": "3270f999-7de0-4519-bcb2-8636a966a91d",
      "name": "Workflow",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        13560,
        -40
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "1af0cedb-0caa-4b65-898f-bfac4ed0ea14",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        13260,
        -40
      ],
      "webhookId": "154226ae-b163-4932-a2f2-12865e621905"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "deividms",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "QP_Setup_Orion",
          "mode": "list",
          "cachedResultName": "QP_Setup_Orion",
          "cachedResultUrl": "https://github.com/DeividMs/QP_Setup_Orion"
        },
        "filePath": "=workflows/{{ $('Workflow').item.json['versao-qp'] }}/{{ $('Workflow').item.json.name }}.json",
        "fileContent": "={{ JSON.stringify($('Workflow').item.json, null, 2) }}",
        "commitMessage": "=Backup Realizado em {{ $now }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "f5b488f6-4bc5-442b-ae5f-34ea9a24e137",
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        15700,
        380
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "j1Pfoo6J0o03AtD8",
          "name": "GitHub-QP"
        }
      }
    },
    {
      "parameters": {
        "command": "n8n export:workflow --backup --output=/home/node/n8n-backups/workflows"
      },
      "id": "1ad4a816-61c5-4cbd-85fa-478d08860c38",
      "name": "ExportarWorkflows",
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        12180,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fileSelector": "/home/node/n8n-backups/workflows/*.json"
      },
      "id": "942eca12-9856-4554-87dd-86ec1162c29b",
      "name": "Read Binary Files",
      "type": "n8n-nodes-base.readBinaryFiles",
      "position": [
        12420,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "35a8690d-ccfa-4384-9547-96811f0a4b19",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        12620,
        -60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Configura o Backup dos Workflows ",
        "height": 326.29607250755294,
        "width": 1097.2219381826642
      },
      "id": "6834e651-c431-4750-90b6-1913e75f3a97",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        11680,
        -240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "id": "9cd75121-88b1-4dfd-9fb0-e3ce01246aba",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        11720,
        -60
      ]
    },
    {
      "parameters": {
        "command": "rm -rf /home/node/n8n-backups/workflows"
      },
      "id": "e63b81b4-8299-4f7d-a5e4-08775ee97316",
      "name": "Execute Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        11940,
        -60
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "deividms",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "QP_Setup_Orion",
          "mode": "list",
          "cachedResultName": "QP_Setup_Orion",
          "cachedResultUrl": "https://github.com/DeividMs/QP_Setup_Orion"
        },
        "filePath": "=workflows/{{ $('Workflow').item.json['versao-qp'] }}/{{ $('Workflow').item.json.name }}.json",
        "fileContent": "={{ JSON.stringify($('Workflow').item.json, null, 2) }}",
        "commitMessage": "=Backup Realizado em {{ $now }}",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "id": "57a5ae61-8d3b-4a5b-95d2-48ff102fc25b",
      "name": "GitHub1",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        15080,
        300
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "j1Pfoo6J0o03AtD8",
          "name": "GitHub-QP"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "deividms",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "QP_Setup_Orion",
          "mode": "list",
          "cachedResultName": "QP_Setup_Orion",
          "cachedResultUrl": "https://github.com/DeividMs/QP_Setup_Orion"
        },
        "filePath": "=workflows/{{ $('Workflow').item.json['versao-qp'] }}/{{ $json.name }}.json",
        "additionalParameters": {}
      },
      "id": "50e283d2-40dc-4f88-83b3-a1b226f6385e",
      "name": "GitHubWorkflow",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        14100,
        -40
      ],
      "credentials": {
        "githubOAuth2Api": {
          "id": "j1Pfoo6J0o03AtD8",
          "name": "GitHub-QP"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.error }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "06bc741f-b52e-49cf-bc61-1089389f3355",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        14360,
        -40
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "52272aa9-21b6-4e2c-acc4-b6d431816a3c",
      "name": "Convert to/from binary data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        14600,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.updatedAt }}",
              "operation": "notEqual",
              "value2": "={{ $('Workflow').item.json.updatedAt }}"
            }
          ]
        }
      },
      "id": "584391fc-f947-4553-a801-8b29611b5b3b",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        14840,
        200
      ]
    },
    {
      "parameters": {},
      "id": "73bb2ecd-1476-4d9c-921f-8212c3d18eff",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        13260,
        -380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "1eb6f881-f86d-43c9-a253-80e62a1ae6e1",
              "leftValue": "={{ $('Workflow').item.json[\"name\"] }}",
              "rightValue": "Backup_Workflow_GitHub",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "62f860bd-4006-43f7-a7ee-37a2c823e6e1",
              "leftValue": "={{ $('Workflow').item.json[\"name\"] }}",
              "rightValue": "IA",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ff115175-38da-4161-ab93-0ffdb2f15e49",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        13840,
        -40
      ]
    }
  ],
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExportarWorkflows": {
      "main": [
        [
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary Files": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "ExportarWorkflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHubWorkflow": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to/from binary data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to/from binary data": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "GitHub1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "GitHubWorkflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "59668906-7f1b-4fba-8542-ebff5077e396",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-05-24T01:34:15.401Z",
      "updatedAt": "2024-05-24T01:34:15.401Z",
      "id": "PHDp1yoMiVikbrb2",
      "name": "chatwoot"
    },
    {
      "createdAt": "2022-10-13T15:26:11.519Z",
      "updatedAt": "2023-08-25T18:50:53.269Z",
      "id": "5",
      "name": "quepasa"
    },
    {
      "createdAt": "2023-05-19T22:54:38.266Z",
      "updatedAt": "2023-05-19T22:54:38.266Z",
      "id": "13",
      "name": "github.com/nocodeleaks"
    },
    {
      "createdAt": "2023-05-18T18:59:53.449Z",
      "updatedAt": "2023-05-18T18:59:53.449Z",
      "id": "7",
      "name": "EngajamentoFlow"
    }
  ],
  "versao-qp": "latest"
}