workflows/latest/ChatwootProfileUpdate.json
{
  "createdAt": "2024-04-24T01:25:11.568Z",
  "updatedAt": "2024-05-28T00:27:59.121Z",
  "id": "1004",
  "name": "ChatwootProfileUpdate",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "mode": "multiplex"
      },
      "name": "Quepasa + Contact",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        1540,
        560
      ],
      "id": "92de441d-56be-45c4-8f20-cf8839c9b4a9"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Quepasa",
              "value": "={{$json}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Quepasa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1340,
        620
      ],
      "id": "640ca514-99f1-4840-a4e8-7a7328c66ba9"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"success\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "acacc6c0-4c44-41eb-92ef-181b71c27f83",
      "name": "Success on get picture ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1100,
        640
      ]
    },
    {
      "parameters": {
        "requestMethod": "PUT",
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "avatar_url",
              "value": "={{ $json[\"Quepasa\"][\"info\"][\"url\"] }}"
            },
            {
              "name": "custom_attributes.pictureid",
              "value": "={{ $json[\"Quepasa\"][\"info\"][\"id\"] }}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        }
      },
      "name": "Chatwoot Update Profile Avatar URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1800,
        560
      ],
      "id": "b1ffc915-e066-4b31-b6dc-af3315d17e2f",
      "retryOnFail": true,
      "notes": "Missing filter by:\nContact Id\nInbox Id\nStatus = open | pending"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.chatid}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "86096b06-41a7-49b0-9bee-f0a591dfedc5",
      "name": "If Found ChatId",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        180,
        280
      ]
    },
    {
      "parameters": {
        "errorMessage": "Chat Id not found !"
      },
      "id": "46abaac2-ba11-4175-9986-e72f344a9b40",
      "name": "Stop And Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        380,
        480
      ]
    },
    {
      "parameters": {
        "content": "## Starting with following parameters\n\n* chatid\n* qphost\n* qptoken\n\n* cwhost\n* utoken\n* account\n\n* contactid",
        "height": 309.0215131709718,
        "width": 527.0811654526535
      },
      "id": "d8256d4f-c94d-418f-8f52-9ade65463e3a",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1140,
        -100
      ]
    },
    {
      "parameters": {
        "requestMethod": "PUT",
        "url": "={{$json.cwhost}}/api/v1/accounts/{{$json.account}}/contacts/{{$json.contactid}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "identifier",
              "value": "={{$json.chatid}}"
            }
          ]
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "api_access_token",
              "value": "={{$json.utoken}}"
            }
          ]
        }
      },
      "name": "Chatwoot Update Profile Email3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1180,
        40
      ],
      "id": "eb434bfb-3d2e-41fa-8381-679c3cfc37bc",
      "retryOnFail": false,
      "continueOnFail": true
    },
    {
      "parameters": {},
      "id": "d1c7eca8-95a4-40a8-bbce-bc92fda9afcf",
      "name": "When Called By Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        280
      ]
    },
    {
      "parameters": {},
      "id": "6cdec820-503f-4279-b33a-e92f5862a264",
      "name": "NoOp1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "9657ff76-7427-47ae-b838-760fc8d08e5a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2320,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.identifier}}",
              "operation": "isEmpty"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "8260576c-b917-4ddb-bbd1-7c7c90d1a3b5",
      "name": "If Empty Identifier",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        700,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.identifier}}",
              "operation": "notEqual",
              "value2": "={{$json.chatid}}"
            }
          ]
        }
      },
      "id": "77dd008f-f82c-4f32-a3e0-75898f865007",
      "name": "If Different Identifier ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        940,
        160
      ],
      "notesInFlow": true,
      "notes": "Used to sincronize old versions with Quepasa Id"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "0fced340-cb61-4e9d-b5b6-1ffd601736fb",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -520,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$json.qphost}}/picinfo/{{$json.chatid}}",
        "allowUnauthorizedCerts": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-QUEPASA-TOKEN",
              "value": "={{$json.qptoken}}"
            }
          ]
        }
      },
      "name": "Quepasa Picture Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        900,
        640
      ],
      "id": "e03edaa8-fee9-4bad-9a80-ea51f6b02caf",
      "continueOnFail": true,
      "notes": "Important to use \"source_id\" to respond messages"
    },
    {
      "parameters": {
        "content": "## (1.0.1) Recommendations \n* change postgres node version\n\n\n\n* Remember set timeout to 20 seconds ",
        "height": 161.4940393151249,
        "width": 505.65878958512553
      },
      "id": "f67fa38e-4841-45ee-a329-63d548b3f50f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1140,
        -280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT account_id as account, identifier FROM contacts WHERE id = '{{ $json.contactid }}'",
        "options": {}
      },
      "id": "5d9ea15b-fe84-45c9-8641-ce0d07fdde4d",
      "name": "Get Contact Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -720,
        380
      ],
      "credentials": {
        "postgres": {
          "id": "NSSYN4EOlkv5kmYY",
          "name": "DB_CHATWOOT"
        }
      }
    }
  ],
  "connections": {
    "Quepasa + Contact": {
      "main": [
        [
          {
            "node": "Chatwoot Update Profile Avatar URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Quepasa": {
      "main": [
        [
          {
            "node": "Quepasa + Contact",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Success on get picture ?": {
      "main": [
        [
          {
            "node": "Set Quepasa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Found ChatId": {
      "main": [
        [
          {
            "node": "NoOp1",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Empty Identifier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop And Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called By Another Workflow": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp1": {
      "main": [
        [
          {
            "node": "Quepasa + Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Quepasa Picture Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Update Profile Email3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chatwoot Update Profile Avatar URL": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Empty Identifier": {
      "main": [
        [
          {
            "node": "Chatwoot Update Profile Email3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Different Identifier ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Different Identifier ?": {
      "main": [
        [
          {
            "node": "Chatwoot Update Profile Email3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If Found ChatId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quepasa Picture Info": {
      "main": [
        [
          {
            "node": "Success on get picture ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Info": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 20,
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b4ab318d4f8eba20155e50db9998481bc305e3588e42ee69176091736c9d07e"
  },
  "pinData": {},
  "versionId": "ae6f07ba-6201-41a3-a186-ef0e86f79953",
  "triggerCount": 0,
  "tags": [],
  "NOME": "ChatwootProfileUpdate"
}